*{
    background: rgb(0, 0, 0);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    zoom: 95.5%;
  }

nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: aqua;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }

  .sub-menu-1{
    display: none;
  }

nav ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  margin-top:14px;
  margin-right: 10px;
}

nav ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 12px;
}

nav ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  background: transparent;
  border-radius: 0;
  text-align: center;
}

nav ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom:none;
}

.sub-menu-2{
  display: none;
}

nav ul li:hover .sub-menu-2{
display: block;
position: absolute;
margin-top:14px;
margin-right: 10px;
}

nav ul li:hover .sub-menu-2 ul{
display: block;
margin: 12px;
}

nav ul li:hover .sub-menu-2 ul li{
width: 150px;
padding: 10px;
background: transparent;
border-radius: 0;
text-align: center;
}

nav ul li:hover .sub-menu-2 ul li:last-child{
border-bottom:none;
}
/*container designing*/
.container{
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

.table-header ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.table-header ul li{
  margin: 0 5px;
}
.table-header ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

  .sub-menu-3{
    display: none;
  }
  
  .table-header ul li:hover .sub-menu-3{
    display: block;
    position: absolute;
    margin-top:14px;
    margin-right: 10px;
  }
  
  .table-header ul li:hover .sub-menu-3 ul{
    display: block;
    margin: 12px;
  }
  
  .table-header ul li:hover .sub-menu-3 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: center;
  }
  
  .table-header ul li:hover .sub-menu-3 ul li:last-child{
    border-bottom:none;
  }
  
  .sub-menu-4{
    display: none;
  }
  
  .table-header ul li:hover .sub-menu-4{
    display: block;
    position: absolute;
    margin-top:14px;
    margin-right: 10px;
  }
  
  .table-header ul li:hover .sub-menu-4 ul{
    display: block;
    margin: 12px;
  }
  
  .table-header ul li:hover .sub-menu-4 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: center;
  }
  
  .table-header ul li:hover .sub-menu-4 ul li:last-child{
    border-bottom:none;
  }

  .sub-menu-5{
    display: none;
  }
  
  .table-header ul li:hover .sub-menu-5{
    display: block;
    position: absolute;
    margin-top:14px;
    margin-right: 10px;
  }
  
  .table-header ul li:hover .sub-menu-5 ul{
    display: block;
    margin: 12px;
  }
  
  .table-header ul li:hover .sub-menu-5 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: center;
  }
  
  .table-header ul li:hover .sub-menu-5 ul li:last-child{
    border-bottom:none;
  }

  .sub-menu-6{
    display: none;
  }
  
  .table-header ul li:hover .sub-menu-6{
    display: block;
    position: absolute;
    margin-top:14px;
    margin-right: 10px;
  }
  
  .table-header ul li:hover .sub-menu-6 ul{
    display: block;
    margin: 12px;
  }
  
  .table-header ul li:hover .sub-menu-6 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: center;
  }
  
  .table-header ul li:hover .sub-menu-6 ul li:last-child{
    border-bottom:none;
  }

  .sub-menu-7{
    display: none;
  }
  
  .table-header ul li:hover .sub-menu-7{
    display: block;
    position: absolute;
    margin-top:14px;
    margin-right: 10px;
  }
  
  .table-header ul li:hover .sub-menu-7 ul{
    display: block;
    margin: 12px;
  }
  
  .table-header ul li:hover .sub-menu-7 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: center;
  }
  
  .table-header ul li:hover .sub-menu-7 ul li:last-child{
    border-bottom:none;
  }

  .table-header ul li a:hover{
    color: #111;
    background: aqua;
  }
    
  .table-header{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }

    .table-header ul li a:hover{
      background: none;
      color: cyan;
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
    